/*Header*/
header{
    font-family: "Azo Sans", "Arial", "Helvetica Neue";
    text-align: center;
    line-height: 6px;
    margin-top: 25px;

}
header a{
    color: #29ABE2;
    text-decoration: none;
}

div #logo{
    float: left;
}

.menu {
    width: 80%;
    margin: auto;
    overflow: hidden;
}