body{
    font-family: "Azo Sans", Arial, "Helvetica Neue";
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    background: url("bilder/registrieren_hintergrund.jpg");
    background-position: center;
    background-attachment: local;
    width: 100%;
    border-image: fill;
}
/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container2{
    margin: auto;
    overflow: hidden;
    background: no-repeat;
    background: #F2F2F2;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: -20px;
}

/*Header**/
header{
    background: #F2F2F2;
    color: white;
    padding-top: 30px;
    height: 10px;
    min-height: 60px;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;

}
#logo{
    width: 220px;
    height: 120px;
    float: left;
}

header nav{
    text-align: center;
}

header a{
    color: #333333;
    text-decoration:none;
    text-transform: full-width;
    font-size: 20px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}

header #logo{
    float: left;
}

header .highlight, header .current a{
    color: black;
    font-weight: bold;
}

header a:hover{
    color: #29ABE2;
    font-weight: normal;
}

footer{
    padding: 10px;
    margin-top: 20px;
    color: white;
    background: #333333;
    text-align: center;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-left: -10px;
    text-align: center;
}
#abgemeldet{
    text-align: center;
    font-family: "Azo Sans", Arial, "Helvetica Neue";
}
#abgemeldet h1{
    margin-top: 200px;
    font-size: 70px;
    text-align: center;
}
#abgemeldet a{
    margin-top: 10px;
    font-size: 30px;
}