#wrapper{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
header{
    height: 80px;
    background: gray;
}
section{
    width: 650px;
    height:550px;
    float: left;
    background: white;
}
footer{
    height: 50px;
    clear: both;
    background: darkgray;
}