/*Style des gesamten Bodys*/
body {
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    background: white;
    background-position: center;
    background-attachment: local;
    width: 100%;
    border-image: fill;
}

/*Style des Kopfes*/
.titel {
    font-family: "Azo Sans", "Arial", "Helvetica Neue";
    width: 30%;
    margin: 40px auto 0px;
    color: white;
    background: #3388ad;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

/*Schriftart im gesamten Form sowie die Farbe der Schrift und Hintergrund */
form, .content {
    font-family: "Azo Sans", "Arial", "Helvetica Neue";
    color: #333333;
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

/*Abstand des Forms (oben und unten 10px)*/
.input-group {
    margin: 1px 0px 10px 0px;
}

/*Style der Schrift über der Input-Fläche*/
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

/*Style des Input-Forms*/
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 5px;
}

/*Style des Login-Buttons*/
.button {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #3388ad;
    border: none;
    border-radius: 5px;
}

/* Benachrichtigung des Forms*/
.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

/* Benachrichtigung des Forms*/
.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}



